{% extends 'base.html' %}



{% block content %}
<br>
                <br>
                <br>
                <br>
                <br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow bg-dark">
                <div class="card-body">
                    <h2 class="card-title text-center text-light">Set New Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Set new password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    input{
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: none;
        font-size: 16px;
        background-color: rgb(206, 206, 206);
        text-align: center;
        border-radius: 10px;
    }
    label{
        font-size{
            17px
        }
    }
    </style>
{% endblock %}
