
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FANTOMBEAM - Smart Money Concept</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %} " rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link rel="icon" href="https://tinypic.host/images/2024/07/26/logo.png">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
<script>
    var wa_btnSetting = {"btnColor":"#028818","ctaText":"Contact Support Agent","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"left","whatsAppNumber":"17946873835","welcomeMessage":"Hi there","zIndex":999999,"btnColorScheme":"light"};
    window.onload = () => {
    _waEmbed(wa_btnSetting);
    };
</script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '11d578e721ef03ad72b14dad7a7421eb3789334f';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

<body class="bg-black">

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [ 
        {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500 Index"
        },
        {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100 Cash CFD"
        },
        {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR to USD"
        },
        {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        },
        {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        }
        ],
        "showSymbolLogo": true,
        "isTransparent": false,
        "displayMode": "adaptive",
        "colorTheme": "dark",
        "locale": "en"
        }
    </script>
</div>

<style>
    .social-links a{
        font-size: 35px;
        color: #0d6efd;
        transition-duration: 300ms;
    }

    .social-links a:hover{
        color: #0ffefd;
    }
    .header {
        padding: 50px 0;
    }
    
    .incoporation {
        display:  flex;
        border: 1px solid green;
        border-radius: 1rem;
    }
    .company-title {
        font-size: 2.5em; /* Large title */
        margin-bottom: 10px;
        font-weight: bold;
    }
    .company-info{

    }

   .company-info img {
        width: 20%;
    }
    
    .landmass-icon {
        position: relative;
        width: 100%; /* Full width for responsive design */
        height: auto;
    }

    .landmass-icon img {
        width: 100%; /* Full width for responsive design */
        height: auto;
    }
    
    .moving-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px; /* Adjust size as needed */
        height: auto;
        animation: moveUpDown 2s ease-in-out infinite;
    }

    @keyframes moveUpDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-40px);
        }
    }

    @media (max-width: 767px) {

        .incoporation{
            text-align: center;
            flex-direction: column-reverse;
            justify-content: space-between;
        }
        .company-title {
            font-size: 2em;
        }
        .certificate-icon {
            width: 80px;
            text-align: center;
        }
        .certificate-icon img {
            width: 80px;
        }
        .moving-icon {
            animation: moveUpDown 2s ease-in-out infinite;
        }
    }
</style>
<div class="container">
    <div class="d-flex justify-content-center social-links">
        <a class="mx-2" href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="mx-2" href="https://t.me" target="_blank">
            <i class="fab fa-telegram"></i>
        </a>
        <a class="mx-2" href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</div>
<!-- TradingView Widget END -->
    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="{% url "home" %}" class="navbar-brand p-0">
                <h1 class="text-primary"><img src="https://tinypic.host/images/2024/07/26/logo.png" alt="Logo"></i></h1>
                
            </a>
            <div id="google_translate_element" class="text-secondary"></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url "home" %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url "about" %}" class="nav-item nav-link">About Us</a>
                    <a href="{% url "plans" %}" class="nav-item nav-link">Plans</a>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">FAQs</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url "contact_form" %}" class="dropdown-item">Support</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                        <div class="dropdown-menu m-0">
                            {% if user.is_authenticated %}
                                <a href="{% url "dashboard" %}" class="dropdown-item">Dashboard</a>
                                <a href="{% url "logout" %}" class="dropdown-item">Signout</a>
                            {% else %}
                                <a href="{% url "login" %}" class="dropdown-item">Signin</a>
                                <a href="{% url "register" %}" class="dropdown-item">Register</a>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
                <div class="d-none d-xl-flex me-3">
                    <div class="d-flex flex-column pe-3 border-end border-primary">
                        <span class="text-body">Get In Touch</span>
                        <a href="tel:+4733378901"><span class="text-primary">Call: +1 7946 873835</span></a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url "dashboard" %}" class="btn btn-secondary rounded-pill py-3 px-5">Dashboard</a>
                {% else %}
                    <a href="{% url "register" %}" class="btn btn-secondary rounded-pill py-3 px-5">Join Us</a>
                {% endif %}
            </div>
        </nav>




{% block content %}

{% endblock content %}



<div class="container header incoporation p-5">
    <div class="company-info">
        <div>
            <div class="company-title">
                <h2>INCORPORATION</h2>
            </div>
            <p>FANTOMBEAM LTD, Reg No: HE443277, having its registered address at Exeter EX4
                4GL, United Kingdom PFGC+W8, Germany</p>

            <img class="m-5" src="{% static 'img/cet.png' %}" alt="certificate of incorporation">
        </div>
        <button class="btn btn-primary my-5">CERTIFICATE OF INCORPORATION</button>
    </div>
    <div class="landmass-icon">
        <img src="{% static 'img/map1.png' %}" alt="">
        <img class="moving-icon" src="{% static 'img/moving_icon.png' %}" alt="">
    </div>
</div>
        <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn bg-black" data-wow-delay="0.2s">
        <hr>
        <hr>
        <div class="container py-5">
            <div class="row g-5 mb-5 align-items-center">
                <div class="col-lg-7">
                    <div class="position-relative mx-auto">
                        <input class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Email address to Subscribe">
                        <button type="button"
                            class="btn btn-secondary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Subscribe</button>
                    </div>
                </div>
                <div class="col-lg-5">

                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <div class="footer-item">
                            {% comment %} <h3 class="text-white mb-4"><i
                                    class="fas fa-hand-holding-water text-primary me-3"></i>FANTOMBEAM</h3> {% endcomment %}
                                    <img src="https://tinypic.host/images/2024/07/26/logo.png" alt="logo" width="30%">
                            <p class="mb-3">Trust forms the foundation of our relationship with our users. We ensure transparent pricing, real-time data, and clear communication to create a sense of security and reliability.</p>
                        </div>
                        <div class="position-relative">
                            <input class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                                placeholder="Enter your email">
                            <button type="button"
                                class="btn btn-secondary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-white mb-4">Quick links</h4>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>Home</a>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>About</a>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>FAQ</a>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>Support</a>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>Contact us</a>
                        <a href="#"><i class="fas fa-angle-right me-2"></i>Terms & Conditions</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-white mb-4">Business Hours</h4>
                        <div class="mb-3">
                            <h6 class="text-muted mb-0">We are open 24/7, ensuring that our support team is always
                                available to assist you. No matter the time or day, our dedicated professionals are here
                                to provide prompt and effective help whenever you need it. Your satisfaction is our
                                priority, and we strive to be accessible and responsive around the clock.</h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-white mb-4">Contact Info</h4>
                        <a href="#"><i class="fa fa-map-marker-alt me-2"></i>238-150 Glenforest Rd, Toronto, ON M4N 2A2</a>
                        <a href="mailto:info@fantombeam.com"><i class="fas fa-envelope me-2"></i>info@fantombeam.com</a>
                        <a href="tel:+13322333293" class="mb-3"><i class="fas fa-print me-2"></i>+1 (7946) 873835</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#" class="border-bottom text-white"><i
                                class="fas fa-copyright text-light me-2"></i>FANTOMBEAM</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end text-body">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %} "></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>