<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit Approval Request</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; text-align: center;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; background-color: #012042; border-radius: 10px;">
            <img src="https://tinypic.host/images/2024/07/12/C-1-photoaidcom-cropped.png" alt="Logo" style="max-width: 100px; height: auto;">
            <h2 style="color: #ffffff; margin-left: 10px;">Poly Cronos</h2>
        </div>
        <h2 style="color: #012042;">Hello ,</h2>
        <p style="color: #333333;"><span style="color: #033faf;">{{ user.username }}</span>  has requested for approval of a deposit</p>
        <p style="color: #333333;">For <span style="font-size: large; color: rgb(0, 99, 129);">{{ membership_level }} </span> Membership</p>
        <a href="https://polycronos.com/manage_deposits" style="color: #ffffff; background-color: #c56204; padding: 0.5rem; border-radius: 5px;">Click to pprove {{ user.username }} Deposit</a>
        <hr style="border-top: 1px solid #ccc; margin: 20px 0; ;">

        <div style="color: #a0a0a0; font-size: 12px;">
            <p>This email is generated automatically. Please do not reply.</p>
            <p>Copyright © 2024 Poly Cronos. All rights reserved.</p>
        </div>
    </div>

</body>
</html>
